{
  "presets": ["es2015"],
  "plugins": [
    "add-module-exports",
    "transform-runtime",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-async-to-generator",
    "transform-undefined-to-void",
    "transform-strict-mode"
  ]
}
